.white-text {
    color: white;
  }

  /* background images css */
  .Section_top {
    width: 100%;
    height: 700px;
    position: relative;
    background-image: url(C:\Users\Personel\Desktop\CRAFTOOOWEBSITE\craftooo\src\assets\circle.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: change 10s infinite ease-in-out;
  }
  @keyframes change {
    0% {
      background-image: url(C:\Users\Personel\Desktop\CRAFTOOOWEBSITE\craftooo\src\assets\astronomy.jpg);
    }
    20% {
      background-image: url(C:\Users\Personel\Desktop\CRAFTOOOWEBSITE\craftooo\src\assets\milky-way-2695569.jpg);
    }
    40% {
      background-image: url(C:\Users\Personel\Desktop\CRAFTOOOWEBSITE\craftooo\src\assets\plouzane.jpg);
    }
    60% {
      background-image: url(C:\Users\Personel\Desktop\CRAFTOOOWEBSITE\craftooo\src\assets\skyscrapers-4168483.jpg);
    }
    80% {
      background-image: url(C:\Users\Personel\Desktop\CRAFTOOOWEBSITE\craftooo\src\assets\circle.jpg);
    }
    100% {
      background-image: url(C:\Users\Personel\Desktop\CRAFTOOOWEBSITE\craftooo\src\assets\plouzane.jpg);
    }
  }

  
/* header button contact us */

.btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #40b3a2;
  min-width: 130px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 10px 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.95;
  color: white;
}

.btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1),
      0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
      0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1),
      0 0 0 80px rgba(255, 255, 255, 0);
  }
}