.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

.image:hover,
.image-content:hover {
  background-color: #cdf3f3;
}

.image {
  width: 80px;
}

.image-content {
  margin-top: 10px;
  text-align: center;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.selected-image-container {
  margin-top: 20px;
  text-align: center;
}
.services-offer h4 {
  text-align: left;
  width: 74%;
  margin: 0 auto;
}

.selected-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.selected-image-content {
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  color: #3b3c3d;
}

li {
  width: 48%;
  margin-bottom: 10px;
  font-size: 18px;
  padding: 10px;
}
ul a {
  text-decoration: underline;
  color: #3b3c3d;
}

li:hover,
a:hover {
  color: #005eb8;
}
.dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #333;
  margin-right: 10px;
}

.technologies-background {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.tech-content {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 990px) {
  .main-container {
    flex-wrap: wrap;
  }
  .image-container {
    width: 30%;
  }
}
@media only screen and (max-width: 650px) {
  .image-container {
    width: 50%;
  }
  li {
    width: 100%;
  }
}
